@model Category

<section class="container">
    <div class="card">
        <h3 class="card-heading">@Model.Name</h3>
        <div class="card-body">
            Description : @Model.Description
        </div>
        <div class="card-footer">
            <a class="btn btn-default" asp-action="AddEdit" asp-route-id="@Model.CategoryId">Edit</a>
            <a class="btn btn-default" asp-action="Delete" asp-route-id="@Model.CategoryId">Delete</a>            
        </div>
    </div>
</section>
