@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
</head>
<body>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="letter-spacing: 1px; font-size:large; text-shadow: 2px 1px black;"><a href="/">Home</a></li>
            <li class="breadcrumb-item" style="letter-spacing: 1px; font-size:large; text-shadow: 2px 1px black;"><a asp-controller="SearchGifs" asp-action="Index">Search Giphys</a></li>
            <li class="breadcrumb-item" style="letter-spacing: 1px; font-size:large; text-shadow: 2px 1px black;"><a asp-controller="Picture" asp-action="Index">My Giphys</a></li>
            <li class="breadcrumb-item" style="letter-spacing: 1px; font-size:large; text-shadow: 2px 1px black;"><a asp-controller="About" asp-action="Index">About</a></li>
            <li class="breadcrumb-item nav-right" style="letter-spacing: 1px; font-size:large; text-shadow: 2px 1px black;">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Authorize" asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a asp-controller="Authorize" asp-action="Login">Login</a>
                }

            </li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
