@{ 
    ViewBag.Title = "H-E-B &amp; Me";    
}
<div align="center">
    <h1>Welcome to H-E-B &amp; Me !!! </h1><br />
    <h3># NetGiphyA #</h3>
</div>
@section footer {
    <div>
        &xi;
    </div>
}