@{
    ViewBag.Title = "HEB - HOME";
}
<div class="container-fluid">    
    <div class="container">
        <p class="h1cust">Welcome to H-E-B &amp; Me !!! </p><br />
    </div>

    <div class="container">
        <p class="h2cust"># Net Giphy A #</p>
    </div>

</div>
