@{
    ViewBag.Title = "HEB - About";
}

<div class="jumbotron container">
    <p class="h1cust">Welcome to H-E-B &amp; Me !!!</p>
    <p class="h2cust">&copy; NetGiphyA &copy;</p>
    <hr class="my-4">
    <p><strong>Requirements:</strong> Design and implement a web application that allows a user to search for and save
    animated GIFs to a user profile using the GIPHY API. Provide users with the ability to register and login to your application
    as well as the ability to save and view their favorite GIFs to their provile. Also provide the user with the ability to categorize
    these saved GIFs (ex: funny, animals, etc.). User data should be stored in a database. Basic application security practices should 
    be implemented (OWASP Top 9). GIFs available on your application should be limited to a G-Rating.
    </p>
    <p><strong>Expectations:</strong> Your solution at least consist of website, API server and database components.
    Your solution is not limited to the above requirements, but those requirements at minimum must be
    met. You are also not limited to any specific programming languagues, frameworks or database solutions.
    However, modern tools and technologies would be preferred. You may not use any "WYSIWYG" development tools,
    please craft your solution with your own code. Good documentation is expected throughout the code base, including
    a readme that outlines the application and explains any details needed to setup the application.</p>
    <p><strong>Bonus:</strong> Extra credit provided for a responsive website with a well-designed UI/UX</p>    
</div>

