@model Picture
@{
    ViewBag.Title = "HEB - My Gifs";
}

<div class="row" style="padding-top:50px">
    <h2> Save Animated Gifs</h2>
</div>
<div><a asp-controller="Category" asp-action="Index">Categories</a></div>
