@model User
@{
    ViewBag.Title = "HEB - Registration";
}

<div class="jumbotron container">
    <p class="h1cust">H-E-B &amp; Me !!!</p>
    <p class="h2cust">&copy; NetGiphyA &copy;</p>
    <hr class="my-4">
    <p style="text-align:center;">
        <strong>Thank you for registring with us.</strong>
    </p>    
</div>
<script type="text/javascript">
    alert("@ViewBag.Message");
</script>