@model Category
@{
    ViewBag.Title = "HEB - Add/Edit Categories";
}

<div class="row" style="padding-top:50px">
    <h2> Add/Edit Category</h2>
</div>
<div class="container" style="border: 2px solid grey; padding-bottom:15px; padding-top:10px;">
    <form method="post" asp-controller="Category" asp-action="AddEdit">        
        <div class="form-group">
            <input type="hidden" asp-for="CategoryId" />
            <label asp-for="Name" style="text-shadow:none;"></label> :
            <input type="text" class="form-control" asp-for="Name" style="color:black;font-size:large;" placeholder="Category name input">
            <span asp-validation-for="Name" style="font-size:initial; text-shadow:none;"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" style="text-shadow:none;"></label> :
            <input type="text" class="form-control" asp-for="Description" style="color:black;font-size:large;" placeholder="Category description input">
        </div>
        <div class="form-group">
            <input type="reset" class="btn btn-primary" />
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
