@model CategoryViewModel
@{
    ViewBag.Title = "HEB - My Categories";
}

<div class="row" style="padding-top:50px">
    <h2> My Picture Categories</h2>
</div>

<div class="container" style="border: 2px solid grey; padding-bottom:15px; padding-top:10px;">
@if (Model.Categories == null || Model.Categories.Count == 0) {   
    <h5 class="panel-footer" style="text-shadow:none; text-align:center;">No categories found.</h5>  
}

@foreach (var category in Model.Categories)
{
    @Html.Partial("_CategoryDetail", category)<br />
}
</div>
<div class="container">
    <a class="btn btn-primary" asp-controller="Category" asp-action="AddEdit">Add New Category</a>
</div>