@model CategoryViewModel
@{
    ViewBag.Title = "HEB - My Categories";
}

<div class="row" style="padding-top:50px">
    <h2> My Picture Categories</h2>
</div>

<div class="container" style="padding-bottom:15px; padding-top:10px;">
@foreach (var category in Model.Categories)
{
    @Html.Partial("_CategoryDetail", category)<br />
}
</div>
<div class="container">
    <a class="btn btn-primary" asp-controller="Category" asp-action="AddEdit">Add New Category</a>
</div>